header {
    align-items: center;
    border-bottom: 4px solid #333;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.034);
  }
  
  header ul {
    display: flex;
    list-style: none;
  }
  
  header ul li.bigg {
      align-items: center;
    cursor: alias;
    display: flex;
    margin: auto;
    height: 60px;
    width: 100px;
  }
  
  header ul li:is(:hover) {
    background-color: #ffc0dc;
    transition: 0.2s ease-in;
    align-items: center;
    border-radius: 5px;
  }
  
  .toggle-menu,
  .toggle-menu-label {
    display: none;
  }
  
  @media (max-width: 768px) {
    .menu {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 80px;
      left: 0;
      width: 100%;
      background-color: #f2f2f2d5;
      padding: 20px;
    }
    .toggle-menu:checked ~ .menu {
      display: flex;
    }
    .toggle-menu-label {
      display: block;
    }
    header ul li {
      margin: 10px 0;
      width: 700px;
    }
    header ul li:is(:hover) {
      background-color: #ffc0dc;
      transition: 0.2s ease-in;
    }
    header ul li a {
      width: 900px;
    }
    header ul li.bigg {
      width: 100%;
    }
  }
  